#newTaskInputForm {
  display: flex;
  justify-content: center;
  @include contentBox(1rem auto);
}

#newTaskInput, #newTaskContent {
  @include formEntryBox;
}

#submitNewTaskButton {
  background: transparent;
  border: none;
  color: $textColor;
  padding: 1rem;
  cursor: pointer;
}