$taskColor: rgb(37, 39, 60);
$mainBgColor: rgb(22, 23, 34);
$textColor: rgb(202, 235, 232);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $mainBgColor;
}

h1 {
  text-align: center;
  height: 8rem;
  padding: 12% 0;
  font-size: 2rem;
  color: $textColor;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#newTaskInputForm {
  display: flex;
  justify-content: center;
  height: 3rem;
  background-color: $taskColor;
  border-radius: 7px;
  width: 90%;
  margin: 1rem auto;
}

#newTaskInput {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1rem;
}

#taskContainer {
  display: grid;
  padding: 1rem 0;
  grid-row-gap: .2rem;
}

.taskItem {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr;
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  border-radius: 7px;
  background: $taskColor;
}

.markCompleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.markCompleteButton {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid $textColor;
  background: transparent;
}

.taskContent {
  line-height: 1.5rem;
  color: $textColor;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}